

  #mainDoc{
    display: flex;
    background-color: lightgoldenrodyellow;
    scroll-behavior: smooth;
  }

  .button{
    padding: 10px 50px;
    background-color: rgb(238, 176, 77);
    border-width: 2px;
    float: left;
    transition: 0.5s;
    width: 225px; 
    scroll-behavior: smooth;
    font-size: large;



  
  }
  #cpp-hello-world-program{
    background-color: lightgrey;
    width: 250px;

  }
  .button:hover {
    background-color: #afcea1;
  }
  .nav-bar-left{
    display: inline-block;
    vertical-align: middle;

  }
  .nav-bar{

    margin: 10px;

  }
  p{
    font-size: large;
  }